[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
requests = "==2.31.0"
requests-mock = "==1.9.0"
flask-sqlalchemy = "*"

[packages]
simplejson = "*"
python-autoviv = "*"
python-dateutil = "*"
sqlalchemy = "*"
cloudpickle = "*"
